.card-container{
    height: 430px;
    width: 290px;
    display: flex;
    flex-direction: column;
    background-color: #FFFCF5;
    border: 1px solid #8CB45C;
    align-items: center;
    justify-content: space-around;
}

.card-container:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.card-container img{
    width: 260px;
    height: auto;
    margin-top: -12px;
}
.line{
    width: 150px;
    height: 1.5px;
    border: none;
    background-color: #8CB45C;
}
.price{
    font-size: 21px;
    color: #DFD832;
    font-weight: 500;
    margin-top: -20px;
}
.flavor{
    font-family: 'Dancing Script';
    font-size: 32px;
    color: #8CB45C;
    margin-top: -45px;
    margin-bottom: -5px;
}
.weights{
    display: flex;
}
.card-container button{
    background-color: #8CB45C;
    border: none;
    color: white;
    width: 130px;
    height: 34px;
    font-size: 15px;
    margin-top: -5px;
    cursor: pointer;
}
.card-container button:hover {
    background-color: #84aa55;
    transform: scale(1.08);
    transition: all 0.3s ease;
}
.card-container button:active {
    background-color: #9ec371;
    transform: scale(1.08);
    transition: all 0.3s ease;
}

.w-one, .w-two{
    display: flex;
    width: 65px;
    height: 30px;
    border: 1px solid #8CB45C;
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: #8CB45C;
    margin-top: -30px;
    margin-bottom: -20px;
    cursor: pointer;
}